header {
  display: flex;
  align-items: center;
  padding: 15px 25px 15px 25px;
}

header h1 {
  flex: 2;
  text-align: center;
  font-size: 35px;
}

header #question-category {
  flex: 1;
  font-size: 25px;
}

header .exit-button-container {
  flex: 1;
  text-align: end;
}

header .exit-button-container #exit-button {
  background-color: #4a47a3aa;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 50px;
  font: inherit;
  font-size: 25px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
  color: white;
  padding: 5px 30px 5px 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

header #exit-button:hover {
  background-color: #2c2a6eaa;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0px 25px 0px 25px;
}

main .game-overview,
main #return-to-main-button,
main #replay-quiz {
  display: flex;
  flex: 3;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2c2a6eaa;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 50px;
  font-size: 45px;
  text-align: center;
  padding: 25px;
  margin-bottom: 25px;
  gap: 50px;
}

.quiz-buttons {
  display: flex;
  gap: 25px;
}

main #game-over {
  font-size: 60px;
}

main h2 {
  padding: 25px;
}

main #return-to-main-button,
main #replay-quiz {
  flex: 1;
  background-color: #4a47a3aa;
  font: inherit;
  font-size: 45px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
  color: white;
  cursor: pointer;
  margin-bottom: 0px;
  transition: background-color 0.3s;
}

main #return-to-main-button:hover,
main #replay-quiz:hover {
  background-color: #2c2a6eaa;
}

@media screen and (max-width: 850px) {
  header h1 {
    font-size: 25px;
  }

  header #question-category {
    font-size: 20px;
  }

  header .exit-button-container #exit-button {
    font-size: 20px;
  }

  main .game-overview,
  main #return-to-main-button,
  main #replay-quiz {
    font-size: 35px;
  }

  main #game-over {
    font-size: 50px;
  }

  main #return-to-main-button,
  main #replay-quiz {
    font-size: 30px;
  }
}
